
apiVersion: v1
kind: Service
metadata:
  name: front-service
  namespace: argocd
  annotations:
    # AWS Load Balancer Controller를 사용하는 경우 (필요 시 수정)
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: front-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80