apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-service
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-service
  template:
    metadata:
      labels:
        app: frontend-service
    spec:
      containers:
      - name: frontend
        image: 858507113889.dkr.ecr.ap-northeast-2.amazonaws.com/argocd/front-service:c71a2965600f9277fb86718a41792ef812aec236
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: argocd
  annotations:
    # AWS Load Balancer Controller를 사용하는 경우 (필요 시 수정)
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: frontend-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80